.card-text {
    font-size: 20px;
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.col {
    padding: 0;
}

body {
    background-color: skyblue;
}

.water-type {
    background-image: url('type-bg/water-type.png');
    width: 100%;
}

.fire-type {
    background-image: url('type-bg/fire-type.png');
    width: 100%;
}

.grass-type {
    background-image: url('type-bg/grass-type.png');
    width: 100%;
}
.electric-type {
    background-image: url('type-bg/electric-type.png');
    width: 100%;
}
.bug-type {
    background-image: url('type-bg/bug-type.png');
    width: 100%;
}
.ghost-type {
    background-image: url('type-bg/ghost-type.png');
    width: 100%;
}

.normal-type {
    background-image: url('type-bg/normal-type.png');
    width: 100%;
}

.psychic-type {
    background-image: url('type-bg/psychic-type.png');
    width: 100%;
}

.dragon-type {
    background-image: url('type-bg/dragon-type.png');
    width: 100%;
}

.ice-type {
    background-image: url('type-bg/ice-type.png');
    width: 100%;
}

.poison-type {
    background-image: url('type-bg/poison-type.png');
    width: 100%;
}

.ground-type {
    background-image: url('type-bg/ground-type.png');
    width: 100%;
}

.rock-type {
    background-image: url('type-bg/rock-type.png');
    width: 100%;
}

.fighting-type {
    background-image: url('type-bg/fighting-type.png');
    width: 100%;
}

.action-row {
    margin-top: 10px;
    height: 50px;
    text-align: center;
}